//-  html
    head 
        link(href='css/style.min.css')
       body 
       include html/header
        main.page 
        h1 Привет!
        img(src="@img/mercedes-benz_190e_2.5-evolution.jpg", alt="")        
        includу html/footer  
        script(src='js/app.min.js')